<div class="container">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" routerLink="home">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="userlogin">USER LOGIN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="adminlogin">ADMIN LOGIN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="mycart">MY CART</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="myorders">MY ORDERS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="logout">LOGOUT</a>
        </li>
    </ul>
    <br>
    <router-outlet></router-outlet>
</div>