<div class="text-right text-secondary">{{user}}</div>
<h2 class="text-info text-center">Kitchen Items Cart Details</h2>
<table class="table table-bordered table-striped text-center">
    <thead>
        <tr class="text-center">
            <th>ID</th>
            <th>PRODUCT NAME</th>
            <th>PRICE</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of cartItems" class="text-center">
            <td >{{c.id}}</td>
            <td>{{c.productname}}</td>
            <td>{{c.price | number:'.2-4'}}</td>
        </tr>
    </tbody>
</table>
<p class="text-center"> 
    <button class="btn btn-warning" (click)="orderNow()"><b>BUY NOW</b></button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-warning" (click)="clearCart()"><b>EMPTY CART</b></button>
</p>